
<div class="w-100">

   <% 10.times.each do |row| %>
        <div class="flex items-center justify-center">
            <% 10.times.each do |column| %>
                <div class="h-10 w-10" data-index='<%= row*10 + column %>'></div>
            <% end %>
        </div>
   <% end %>
</div>


<div id='output'>

</div>
<script src="/snake.js"></script>