<h1>Articles</h1>

  <% @articles.each do |article| %>
      <h3>
        <a href="<%= article_path(article) %>">
          <%= article.title %>
        </a>
      </h3>
      <a href="<%= edit_article_path(article) %>">
        edit
      </a>
  <% end %>
<a href= '/articles/new'>create a new article </a>

