<form action="/create_user" method="post" accept-charset="UTF-8" >
  <label for="username">Username:</label>
  <input id="username" name="username" type="text" />
    <label for="password">Password:</label>
  <input id="password" name="password" type="text" />
  <input name="commit" type="submit" value="Search" data-disable-with="Search" />
</form>
